<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>DXC_Servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>dxc.myproject.firstservlet.AddEmployee</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>dxc.myproject.firstservlet.EditEmployee</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>dxc.myproject.firstservlet.DeleteEmployee</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Get</servlet-name>
		<servlet-class>dxc.myproject.firstservlet.GetEmployee</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Get</servlet-name>
		<url-pattern>/get</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Getall</servlet-name>
		<servlet-class>dxc.myproject.firstservlet.GetallEmployee</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Getall</servlet-name>
		<url-pattern>/getall</url-pattern>
	</servlet-mapping>
</web-app>